
*{
    padding: 0;
    margin: 0;
 
}

html , body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./9197222.jpg");
}
.container{
    display: flex;
}
.container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    text-align: center;
    padding: 0.5rem;
    margin: 0.2rem;
    
    outline: none;
}

label{
    color: white;
}